# config file for ansible -- http://ansible.com/
# ==============================================

[defaults]
# please specify the host file for the customer properly
hostfile      = ./production
inventory     = ./production
remote_tmp     = $HOME/.ansible/tmp
pattern        = *
forks          = 5
poll_interval  = 15
sudo_user      = root
transport      = smart
module_lang    = C
#gathering = implicit
#sudo_exe = sudo
#timeout = 10
ansible_managed = Ansible managed: {file} modified on %Y-%m-%d %H:%M:%S by {uid} on {host}
module_name = command
retry_files_enabled = False

# set plugin path directories here, separate with colons
#action_plugins     = /usr/share/ansible_plugins/action_plugins
#callback_plugins   = /usr/share/ansible_plugins/callback_plugins
#connection_plugins = /usr/share/ansible_plugins/connection_plugins
#lookup_plugins     = /usr/share/ansible_plugins/lookup_plugins
#vars_plugins       = /usr/share/ansible_plugins/vars_plugins
#filter_plugins     = /usr/share/ansible_plugins/filter_plugins

# add the roles directory
roles_path = ./roles:../aws/aws-cloud-ansible/roles

# set the vault password file
vault_password_file = ./secrets/vault.pass

# set the ansible ssh information
remote_user = ansible
private_key_file = ./secrets/ansible.key

[privilege_escalation]
# gain root privileges by default
become=True
become_method=sudo
become_user=root


[accelerate]
accelerate_port = 5099
accelerate_timeout = 30
accelerate_connect_timeout = 5.0
accelerate_daemon_timeout = 30




