# install ImageMagick for the calibre server!

[Unit]
Description=Calibre Service
After=network.target

[Service]
User=shutter
Group=shutter
Type=forking
PIDFile=/data/home/shutter/.calibre-server.pid
ExecStart=/usr/bin/calibre-server \
        --daemonize \
        --max-cover=600x800 \
        --max-opds-items=30 \
        --max-opds-ungrouped-items=100 \
        --username=barfoot \
        --password=SoManyBooks \
        --port=8888 \
        --pidfile=/data/home/shutter/.calibre-server.pid \
        --with-library=/opt/calibre/Calibre_Bibliothek

[Install]
WantedBy=multi-user.target