{# read the ports and the volumes -#}
{% set runopt_publish = "" -%}
{% set runopt_volumes = "" -%}
{% set runopt_devices = "" -%}
{% set runopt_capadd = "" -%}
{% set runopt_entrypoint = "" -%}
{% set runopt_tty = "" -%}
{% set runopt_user = "" -%}
{% set runopt_network = "" -%}

{% if item.value.publish is defined -%}
  {% set runopt_publish = '--publish=' + item.value.publish|join(' --publish=') -%}
{% endif -%}

{% if item.value.volumes is defined -%}
  {% set runopt_volumes = '-v ' + item.value.volumes|join(' -v ') -%}
{% endif -%}

{% if item.value.devices is defined -%}
  {% set runopt_devices = '--device=' + item.value.devices|join(' --device=') -%}
{% endif -%}

{% if item.value.capadd is defined -%}
  {% set runopt_capadd = '--cap-add=' + item.value.capadd|join(' --cap-add=') -%}
{% endif -%}

{% if item.value.entrypoint is defined -%}
  {% set runopt_entrypoint = '--entrypoint=' + item.value.entrypoint -%}
{% endif -%}

{% if item.value.network is defined -%}
  {% set runopt_network = '--net=' + item.value.network -%}
{% endif -%}

{% if item.value.tty is defined -%}
  {% if item.value.tty -%}
    {% set runopt_tty = '-t' -%}
  {% endif -%}
{% endif -%}

{% if item.value.user is defined -%}
  {% set runopt_user = '--user=' + item.value.user -%}
{% endif -%}

# version to use for the container 
VERSION={{item.value.image_version}}

{% if item.value.env is defined -%}
# service specific environment variables
{% for key, value in item.value.env.iteritems() %}
{{key}}={{value}}
{% endfor %}
{% endif -%}

# the containers run options
RUN_OPTIONS={{runopt_publish}} {{runopt_volumes}} {{runopt_devices}} {{runopt_capadd}} {{runopt_entrypoint}} {{runopt_tty}} {{runopt_user}} {{runopt_network}}
